#!/usr/bin/make -f
# debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	./configure --prefix=/usr
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	-$(MAKE) -k distclean
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cp client/epoc16/nfsc/README debian/p3nfs/usr/share/doc/p3nfs/README.nfsc
	install -c -s bin/p3nfsd debian/p3nfs/usr/bin
	cp -r client/epoc16 client/epoc32 debian/p3nfs/usr/share/p3nfs
	rm -rf debian/p3nfs/usr/share/p3nfs/nfsc/src
	find debian/p3nfs/usr/share/p3nfs -type f -print0 | xargs -0 chmod -x

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples etc/*
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installchangelogs doc/CHANGES
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
